/* Page CSS for index.html */
#intro {
    /* Credits to https://frontendmasters.com/blog/edge-to-edge-text/ */
    display: block;
    inline-size: max-content;
    height: 100vh;
    align-content: end;
}

#intro > h1 {
    font-size: 5.1dvw;
    margin-left: 2dvw;
}

#title {
    font-family: 'Zalando Sans Expanded', 'Zhi Mang Xing', serif;
    color: var(--yellow); /* From main.css */
    font-weight: 700;

    /* Manually sized to create proper edge-to-edge view exactly as done in my resume PDF 
     * Dynamically follows the viewport size too so the effect is guaranteed regardless of screen size
     */
    font-size: 12.88dvw;
    margin-left: -0.8dvw;
    
}

#intro > .nav {
    margin-top: 3dvw;
    margin-bottom: 3dvw;
    margin-left: 2dvw;
    font-family: 'DM Serif Text', 'Noto Serif TC', serif;
    font-size: 2.55dvw;
}